In [3]:
#creating a function without parameter
def hello():
    print('hello')

In [4]:
#calling or invoking function
hello()

hello

In [15]:
#creating a function with parameter
def func(name):
    print('hello',name)

In [16]:
func('Anand')

hello Anand

In [17]:
def add(x,y):
    return x+y

In [18]:
add(5,4)

9

In [19]:
add(52.4,62.6)

115.0

In [23]:
#creating a function to check either number is even or odd
def even_odd(number):
    if number%2==0:
        print(number, 'is even')
    else:
        print(number, 'is odd')

In [24]:
even_odd(15)

15 is odd

In [25]:
even_odd(12)

12 is even

In [26]:
# checking if it is valid for float value or not
even_odd(52.3)

52.3 is odd

In [27]:
even_odd(22.4)

22.4 is odd

In [28]:
#lambda function is a special type of a function which is also known as anonymous function which means it doesn't have name
# this function has only one expression

In [30]:
cube=lambda x:x*x*x
#in lambda x, x is parameter and x*x*x is expression

In [31]:
cube(5)

125

In [32]:
#Normally lambda function is used with some other function. Those functions are known as filters,reduce and map function

In [33]:
#lambda with filter (filter values from a sequence)
#it takes two parameters function and list

In [34]:
#filter out odd values
l1=[10,25,32,56,78,98,45,2,1,4,56]
l2=list(filter(lambda x: (x%2!=0),l1))
#with the help of list function we are converting the output into list

In [35]:
l2

[25, 45, 1]

In [36]:
#filter out even values
l1=[10,25,32,56,78,98,45,2,1,4,56]
l2=list(filter(lambda x: (x%2==0),l1))

In [37]:
l2

[10, 32, 56, 78, 98, 2, 4, 56]

In [38]:
#lambda with map

In [39]:
l1=[1,2,3,4,5,6,7,8]

In [40]:
#map function is used to mapping a task at every indivisual elements
#it takes two parameters
#first parameter would be lambda function second would be list

In [42]:
#multiplying by 2 at every element
l2=list(map(lambda x:x*2,l1))

In [43]:
l2

[2, 4, 6, 8, 10, 12, 14, 16]

In [44]:
#lambda with reduce
#it is used with func tools and we have to import it from functools
#reduce function is used when we need a consolidated value or final value at a squence

In [45]:
from functools import reduce

In [48]:
final=reduce(lambda x,y: x+y,l1)

In [49]:
#1+2=3,3+3=6,6+4=10,10+5=15,15+6=21,21+7=28,28+8=36
final

36

In [50]:
#predefined or built-in functions in python

In [51]:
# 1. sum : it is used to get the sum of numbers of an iterable i.e list

In [52]:
sum(5,6)
#we have to give iterable values

TypeError: 'int' object is not iterable

In [53]:
sum([5,3,2])

10

In [54]:
sum([5,2,3],10)

20

In [55]:
#gives you independence to enter any value of any data type
x=8
print(eval('x+1'))

9

In [56]:
num1=int(input("Emter first number:"))
num2=int(input("Enter second number"))
print('sum is:',num1+num2)

Emter first number:2
Enter second number4
sum is: 6

In [58]:
#integer type cannot take float value
num1=int(input("Emter first number:"))
num2=int(input("Enter second number"))
print('sum is:',num1+num2)

Emter first number:23
Enter second number52.4

ValueError: invalid literal for int() with base 10: '52.4'

In [59]:
#taking float value
num1=int(input("Emter first number:"))
num2=float(input("Enter second number"))
print('sum is:',num1+num2)

Emter first number:25
Enter second number32.6
sum is: 57.6

In [60]:
#using eval function
num1=eval(input("Emter first number:"))
num2=eval(input("Enter second number"))
print('sum is:',num1+num2)

Emter first number:22.4
Enter second number32.6
sum is: 55.0

In [61]:
#length function
string='Python'

In [62]:
len(string)

6

In [63]:
#list function
string='abcde'
print(list(string))

['a', 'b', 'c', 'd', 'e']

In [64]:
#converting tuple to list using list function
tup1=(1,2,3,4,5)
print(list(tup1))

[1, 2, 3, 4, 5]

In [65]:
#dictionary function
dict1=dict(a=1,b=2)
dict1

{'a': 1, 'b': 2}

In [66]:
#min function 
min(500,200,300)

200

In [67]:
#id function
val=id('Python')
val

2268102560880

In [68]:
val=id('Python')

In [69]:
val

2268102560880

In [70]:
#round function
print(round(10))

10

In [71]:
print(round(10.2))

10

In [72]:
print(round(10.6))

11